@model BiblioTK.MVC.Models.CatalogoIndexModelView

<style>
    #h4Librosencontrados {
        margin-top: 37px;
    }

    input {
        max-width: 100%;
    }
</style>
<div>
    <div class="row">
        <div class="col-sm-2 col-4 visible-lg visible-md">
            <div id="divMenuLeft" class="row">
                @Html.Partial("ClasificacionPrincipalMenu", Model.ClasificacionPrincipalMenu)
            </div>           
        </div>
        <div class="col-sm-7 col-12">
            <div class="row">
                <div class="container">
                    <h1>Catalogo de Libros</h1>
                    <hr style="clear:both;">

                    @*Menu tabs*@
                    <div id="divToggle">
                        <h4><a href="#Filtro"> Filtros <i class="fa fa-filter" aria-hidden="true"></i> </a></h4>
                    </div>
                    <div id="divFiltros" style="display:none;">
                        @*<input id="inputBusqueda" class="hidden-lg" placeholder="Buscar" autocomplete="off" autofocus="autofocus" type="text">*@

                        @{
                            var pageName = ViewContext.RouteData.Values["controller"].ToString();
                            if (User.Identity.IsAuthenticated && pageName == "Catalogo")
                            {
                                using (Ajax.BeginForm("BuscarPorTitulo", "Catalogo", new { pageIndex = 0, pageSize = 10 }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "DivLibros",
                                    LoadingElementId = "progress",
                                    OnBegin = "onSubmitFeedbackBegin",
                                    OnSuccess = "onSuccess"
                                }, new { @class = "hidden-lg" }))
                                {
                        @Html.AntiForgeryToken()
                                    <div class="form-group" style="display:inline;">
                                        <input class="form-control" id="inputBusqueda" name="searchText" placeholder="Buscar" autocomplete="off" autofocus="autofocus" type="text">
                                    </div>
                                }
                            }
                        }

                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a onclick="ListarTodos();" style="cursor:pointer;" data-target="#home" data-toggle="tab">Todos</a></li>
                            <li><a onclick="ListarPorTipo('Tutoriales', true);" style="cursor:pointer;" data-target="#profile" data-toggle="tab">Tutoriales</a></li>
                            <li><a onclick="ListarPorTipo('Videos', true);" style="cursor:pointer;" data-target="#messages" data-toggle="tab">Videos</a></li>
                        </ul>
                    </div>
                    @*fin menu*@
 
                    <div id="DivLibros" class="list-group">
                        @*se carga via ajax*@
                    </div>
                    <div id="divCatalogoRecarga" style="display:none">
                        <div class="list-group panel" style="text-align:center;">
                            <h5>
                                <a href="#Recargar" onclick="ListarPorTipo();" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu"> Has perdido la conexion!. Intenta de nuevo  <i class="fa fa-refresh" aria-hidden="true"></i> </a>
                            </h5>
                            <div style="padding-left: 10px;" class="collapse"></div>
                        </div>
                    </div>
                </div> 
                
                <div id="progress" class="list-group progressMenuGif" style="display:none">
                    <h5>
                        <img src="../../Content/images/loader.gif" height="35" width="35" />
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-4 visible-lg visible-md">
            <div class="sidebar-nav-fixed pull-right affix">
                @Html.Partial("Top10", Model.Top10Menu)
                @Html.Partial("NuevosMateriales", Model.NuevosMaterialesMenu)
            </div>
        </div>

    </div>

</div>


<script src="~/Scripts/catalogoGetData.js">
</script>
