@model BiblioTK.MVC.Models.CatalogoIndexModelView

<div>
    <div class="row">
        <div class="col-sm-2 col-4 hidden-sm">
 
            @Html.Partial("ClasificacionPrincipalMenu", Model.ClasificacionPrincipalMenu);
            @*@{Html.RenderPartial("ClasificacionPrincipalMenu", Model.ClasificacionPrincipalMenu);}*@

        </div>
        <div class="col-sm-7 col-12">
            <div class="row">
                <div class="container">
                    <h2>Catalogo de Libros</h2>
                    <div id="DivLibros" class="list-group">
                        @*se carga via ajax*@
                    </div>
                </div>
                <div id="progress" style="display:none">
                    <h4>Cargando...</h4>
                </div>             
            </div>
        </div>
        <div class="col-sm-3 col-4 hidden-sm">
            <div class="sidebar-nav-fixed pull-right affix">
                @Html.Partial("Top10", Model.Top10Menu);
                @Html.Partial("NuevosMateriales", Model.NuevosMaterialesMenu);

                @*@{Html.RenderPartial("Top10", Model.Top10Menu);}
                @{Html.RenderPartial("NuevosMateriales", Model.NuevosMaterialesMenu);}*@
            </div>
        </div>

    </div>
 
</div>
