<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div class="well">
                Menu
            </div>
        </div>
        <div class="col-xs-9">
            <div class="well">
                contenido del libro
            </div>
        </div>
    </div>
</div>