@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron" style="background-image:url(../../Content/images/netImage.jpg)">
        <h1 style="color:white; cursor:pointer;">Biblio-TK.NET</h1>
        <p style="color:white" class="lead">.NET en Español PROGRAMADORES</p>
        <p style="color:white" class="lead">BiblioTK para programadores .NET: C#, VB.NET, MVC, WebForms, SQL SERVER 2005 ó Superior</p>
        <p style="color:white" class="lead">Seguridad, Servidores, Hacking y mas...</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><a href="/Catalogo"> Catálogo <i class="fa fa-list-alt" aria-hidden="true"></i> </a></h2>
             <p> 
                Documentacion necesaria para desarrollar aplicaciones web con contenido dinámico, contenido corporativo, acceso a datos, 
                y con distintos controles que faciliten la interacción del usuario con la información proveniente de una base de datos.
                niveles de seguridad, áreas personalizadas para los usuarios.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>
                <a href="/Catalogo"> Tutoriales <i class="fa fa-book" aria-hidden="true"></i> </a>
            </h2>            
            <p>Aprende a desarrollar desde sencillas aplicaciones web con acceso a datos hasta portales con interfaces personalizadas por usuario. C#, VB.NET, SQL Server 2016...</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>
                <a href="/Catalogo"> Videos <i class="fa fa-video-camera" aria-hidden="true"></i> </a>
                
            </h2>
            <p>Video-Tutoriales que te ayudaran aplicaciones web, Apps de escritorios y apps moviles con Xamarin.</p>            
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>