@model IEnumerable<BiblioTK.Modelos.CatalogoResult>

 
<div class="sidebar-nav-fixed pull-right affix">
    <div class="well">
        <h3><a href="http://getbootstrap.com">Top 10/7 Dias</a></h3>
        @foreach (var item in Model)
        {
            var inverso = item.cat_Titulo.Length - (item.cat_Titulo.Length / 2);
            if (inverso > 20)
            {<small><a href="#">@item.cat_Titulo.Substring(0, inverso).ToString() ...</a></small><br />}
            else
            {    <small><a href="#">@item.cat_Titulo</a></small><br />}
        }

    </div>
    <div class="well">
        <img class="img-responsive" src="//placehold.it/300x300">
    </div>

    <div class="well">
        <h3><a href="http://getbootstrap.com">Nuevos Materiales</a></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
        </ul>
    </div>
</div>